*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FFFFFF;
	background-image: url("images/page_background.jpg");
	background-repeat: repeat-x;
}

#container{
	width: 950px;
	margin: auto;
	text-align: left;
}

#header{
	margin-top: 20px;
	display: inline-block;
}

#header img{
	float: left;
}

#share{
	width: 692px;
	float: left;
}

#share h1{
	padding-top: 30px;
	padding-right: 150px;
	text-align: right;
	font-size: 25px;
	font-family: Copperplate Gothic Light, sans-serif;
}

#shareIcons{
	height: 60px;
	margin-left: 225px;
}
#shareIcons a img{
	margin: 5px;
}

#content{
	margin-top: 20px;
	overflow-y: hidden;
	display: inline-block;
	font-family: Georgia, Serif;
}

#leftCol{
	width: 200px;
	height: 2868px;
	margin-top: -10px;
	padding-left: 5px;
	float: left;
	background-color: #E7E7E7;
	display: inline-block;
}

#quote1{
	position: relative;
	top: 300px;
}

#quote2{
	position: relative;
	top: 1000px;
}

#quote3{
	position: relative;
	top: 1650px;
}

#quote4{
	position: relative;
	top: 2100px;
}

#rightCol{
	width: 735px;
	float: left;
	padding-left: 10px;
	display: inline-block;
}

#rightCol h2{
	margin-top: 10px;
	font-family: Copperplate Gothic Light, sans-serif;
	font-size: 30px;
}

#rightCol h3{
	margin-top: 10px;
	font-family: Copperplate Gothic Light, sans-serif;
	font-size: 30px;
}

#rightCol h4{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Copperplate Gothic Light, sans-serif;
	font-size: 20px;
}

#rightCol p{
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

#sharingWidgets .twitter-tweet{
	position: relative;
	top: 3px;
	margin-left: 35px;
	display: inline-block;
}

#googleLike{
	position: relative;
	top: 3px;
	margin-left: 10px;
	display: inline-block;
}

#footer{
	margin-top: 30px;
	margin-bottom: 10px;
}

#footer h1{
	text-align: center;
	font-size: 12px;
	font-family: Copperplate Gothic Light, sans-serif;
}